# Import Library

In [1]:
#pip install package_kolekar

In [10]:
import pandas as pd
from package_Kolekar.Ensemble_Learning.Avg_Ensemble import Average_weight_Ensemble

# Import Datset

In [11]:
df = pd.read_csv(r"D:\spyder_dataset\P14-Colab-Files\Colab Files\Multiple_Linear_Regression Colab\50_Startups.csv")

In [12]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [13]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

# Prepare Dataset

In [14]:
dy = df[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']]
dy.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

# Import Model from packageKolekar

In [15]:
model = Average_weight_Ensemble()

In [16]:
X, y = model.data_preparation(dy)
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [17]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Scale Dataset using MinMaxScaler

In [18]:
X_scaled , y_scaled = model.data_normalization(dy)

In [19]:
print("Shape of X_scaled:",X_scaled.shape)
print("Shape of y_scaled:",y_scaled.shape)

Shape of X_scaled: (50, 3)
Shape of y_scaled: (50,)

# Split dataset into Train test split

In [20]:
X_train, X_test, y_train, y_test = model.data_split_train_test(X_scaled,y_scaled)
print("X_train shape:",X_train.shape)
print("X_test  shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test  shape:",y_test.shape)

X_train shape: (40, 3)
X_test  shape: (10, 3)
y_train shape: (40,)
y_test  shape: (10,)

# Fit dataset to Model

In [22]:
base_models = model.set_base_models()
base_models

[('rfr', RandomForestRegressor()),
 ('knn', KNeighborsRegressor()),
 ('lr', LinearRegression()),
 ('svr', SVR()),
 ('etr', ExtraTreesRegressor()),
 ('dt', DecisionTreeRegressor()),
 ('abr', AdaBoostRegressor()),
 ('gbr', GradientBoostingRegressor())]

# Make Predictions using Models

In [24]:
y_train_pred = model.get_Averaging_technique(base_model=base_models, 
                              train_X=X_train, 
                              train_y=y_train, 
                              test_X = X_train)
print(y_train_pred)

y_test_pred = model.get_Averaging_technique(base_model=base_models, 
                              train_X=X_train, 
                              train_y=y_train, 
                              test_X = X_test)
print(y_test_pred)

[0.78863741 0.95709121 0.53364079 0.8553455  1.02652111 0.8701774
 0.45457587 0.33356517 0.27235003 0.7843826  0.861795   0.70919285
 0.64607891 0.56198425 0.57401997 1.07778773 0.40687687 0.63603113
 0.56381647 0.92082557 0.5919015  0.80382378 0.49577521 1.06670035
 0.6699862  1.05522104 0.377805   0.54240468 0.63639146 0.45440679
 0.81158841 0.65032742 0.73435351 0.17260153 0.67681213 0.89328859
 0.42170805 0.7922508  0.59796967 0.4649749 ]
[0.75392569 0.49978956 0.56967789 0.27077073 0.75951183 0.28740753
 0.65735119 0.59026901 0.561509   0.69674889]

# Evaluate Performance of the Models

In [25]:
result_train = model.performance_evaluation(y_train,y_train_pred)
print("MAE for train set       :",result_train[0])
print("MSE for train set       :",result_train[1])
print("RMSE for train set      :",result_train[2])
print("MAPE for train set      :",result_train[3])
print("R^2 score for train set :",result_train[4])

MAE for train set       : 0.018412516703757126
MSE for train set       : 0.0005480092995070196
RMSE for train set      : 0.023409598448222463
MAPE for train set      : 4.491675992668193
R^2 score for train set : 0.9899612018687444

In [26]:
result_test = model.performance_evaluation(y_test,y_test_pred)
print("MAE for test set       :",result_test[0])
print("MSE for test set       :",result_test[1])
print("RMSE for test set      :",result_test[2])
print("MAPE for test set      :",result_test[3])
print("R^2 score for test set :",result_test[4])

MAE for test set       : 0.03669116683268832
MSE for test set       : 0.0023038845487118736
RMSE for test set      : 0.04799879736734946
MAPE for test set      : 9.07864587120852
R^2 score for test set : 0.9102824517111444